%h1 Sinkr

.stat= "You know #{Photo.count(:conditions => "source = 'flickr'")} photos from flickr"
.stat= "You have #{Event.count(:conditions => "source = 'flickr'")} events from flickr"
.stat= "You have #{Photo.count(:conditions => "source = 'iphoto'")} events from iphoto"
.stat= "You have #{Event.count(:conditions => "source = 'iphoto'")} events from iphoto"

.actions
  .action= link_to "load flickr data", "/services/load/flickr"
  .action= link_to "load iphoto data", "/services/load/iphoto"
