%h1 Sinkr

.stat= "You know #{FlickrPhoto.count} photos from flickr"
.stat= "You have #{FlickrEvent.count} events from flickr"
.stat= "You have #{IphotoPhoto.count} events from iphoto"
.stat= "You have #{IphotoEvent.count} events from iphoto"

.actions
  .action= link_to "load flickr data", "/services/load/flickr"
  .action= link_to "load iphoto data", "/services/load/iphoto"
