= link_to_function "v #{event.name}", "$('#event_#{event.id}').toggleClass('expanded').find('.photos').remove()", :class => 'close'
= link_to_function "> #{event.name}", "$('#event_#{event.id}').toggleClass('expanded').load('#{url(:expand_event, event)}')", :class => 'open'
= (count = event.photos.count) > 0 ? "(#{count})" : "-"
.actions
  = link_to_function "reload", "$('#event_#{event.id}').load('#{url(:reload_event, event)}')"
  = link_to_function "-", "$('#event_#{event.id}').toggleClass('big')", :class => 'smaller'
  = link_to_function "+", "$('#event_#{event.id}').toggleClass('big')", :class => 'bigger'
- if @show_pictures
  .photos
    - event.photos.each do |photo|
      %img{:src => photo.thumbnail_url}
