= event.name
= (count = event.photos.count) > 0 ? "(#{count})" : "-"
.actions
  = link_to_function "refresh", "$('#event_#{event.id}').load('#{url(:refresh_event, event)}')"
  = link_to_function "expand", "$('#event_#{event.id}').load('#{url(:expand_event, event)}')"
  / = link_to_function "expand", "$('#event_#{event.id}').load('/events/#{event.id}/photos/refresh')"
- if @show_pictures
  .photos
    - event.photos.each do |photo|
      %img{:src => photo.thumbnail_url}
