- throw_content(:for_header) do
  = css_include_tag 'events'
  = js_include_tag 'events'

%h1 Events

%table
  %tr
    %th.event_name Event
    %th.flickr 
      Flickr
      .actions
        = link_to "reload all events", "/sources/flickr/reload_all_events"
        = link_to "load all photos", "/sources/flickr/load_all_photos"
    %th.iphoto 
      iPhoto
      .actions
        = link_to "reload all events", "/sources/iphoto/reload_all_events"
        = link_to "load all photos", "/sources/iphoto/load_all_photos"

  - @events_by_month_by_year.keys.sort.reverse.each do |year|
    %tr.year{:id => "year_#{year}"}
      %td{:colspan => 3}
        %h2
          = year
          .actions
            = link_to_function "select all", "select_all_until('year')"
            = link_to_function "clear", "clear_all_until('year')"
    - @events_by_month_by_year[year].keys.sort.reverse.each do |month|
      %tr.month{:id => "month_#{month}"}
        %td{:colspan => 3}
          %h3
            = display_month(month)
            .actions
              = link_to_function "select all", "select_all_until('month')"
              = link_to_function "clear", "clear_all_until('month')"
      - @events_by_month_by_year[year][month].sort{|a,b| a.name <=> b.name}.each do |event|
        %tr[event]
          %td
            .clickable{:onclick => "$('#event_#{event.id}').toggleClass('selected')"}
              = image_tag "checked.png", :class => 'when_selected'
              = image_tag "unchecked.png", :class => 'when_not_selected'
              = event.name
          - flickr, iphoto = event.flickr, event.iphoto
          %td.flickr[flickr]
            = partial 'external_event', :with => flickr if flickr
          %td.iphoto[iphoto]
            = partial 'external_event', :with => iphoto if iphoto
